.vscode/**
.vscode-test/**
**/.gitignore
**/.DS_Store
**/node_modules/**
**/npm-debug.log
**/*.map
src/**
test/**
tsconfig.json
bun.lock
bun.lockb
out/**/*.test.js
out-e2e/**
test/e2e/**
tsconfig.e2e.json
.vscode-test/**
.scratch/**
